<button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
    <h3 class="modal-title">Edit Teacher [ID: {{manager.id}}]</h3>
</div>
<div class="modal-body">
    <form name="manager_form" class="form-horizontal" role="form" novalidate>
        <form-element label="Name" mod="manager">
            <input type="text" class="form-control" name="name" placeholder="Name" ng-model="manager.name" focus/>
        </form-element>
        <form-element label="Email" mod="manager">
            <input type="text" class="form-control" name="email" placeholder="Name" ng-model="manager.email" focus/>
        </form-element>
        <form-element label="phone" mod="">
            <input type="number" class="form-control" name="phone" placeholder="Phone" ng-model="manager.phone" focus/>
        </form-element>
        <form-element label="Name" mod="password">
            <input type="text" class="form-control" name="password" placeholder="Password" ng-model="manager.password" focus/>
        </form-element>
        <div class="space"></div>
        <div class="space-4"></div>
        <div class="modal-footer">
            <form-element label="">
                <div class="text-right">
                    <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                    <button ng-click="savemanager(manager);" ng-disabled="manager_form.$invalid || enableUpdate" class="btn btn-sm btn-primary" type="submit">
                        <i class="ace-icon fa fa-check"></i>{{buttonText}}
                    </button>
                </div>
            </form-element>
        </div>
    </form>
</div>
